/***
 * Side Bar Styles
 ***/
#side-bar {
	position: fixed;
	left:  0px;
	padding-top: 30px;
	min-width: 230px;
	background: #34495e;
	color: white;
	height: 100%;
	-webkit-box-shadow: inset -8px 1px 15px 0px rgba(26, 40, 63, 1);
	-moz-box-shadow:    inset -8px 1px 15px 0px rgba(26, 40, 63, 1);
	box-shadow:         inset -8px 1px 15px 0px rgba(26, 40, 63, 1);
	-webkit-transition: left 0.5s;
	-moz-transition:	left 0.5s;
	transition:			left 0.5s;
}
/* Side bar Toggle button */
.side-bar-toggle {
	padding: 10px;
	background: #000;
	opacity: 0.8;
	width:  40px;
	height:  40px;
	border-radius: 0px 5px 5px 0px;
	position:  absolute;
	left: 100%;
	bottom: 5%;
	cursor: pointer;
}
.navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6;
}
.navbar .sidebar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

/*User Details*/
#user-info {
	padding: 0px auto;
	text-align: center;
}
.profile-picture {
	border: 3px solid white;
	-webkit-box-shadow: 3px 3px 8px 0px rgba(26, 40, 63, 1);
	-moz-box-shadow:    3px 3px 8px 0px rgba(26, 40, 63, 1);
	box-shadow:         3px 3px 8px 0px rgba(26, 40, 63, 1);
}
.profile-heading {
	text-shadow: 2px 2px 5px  rgba(26, 40, 63, 1);
}

/* Navigation */
#main-nav > ul > li{
	margin-left: -15px;
	padding-left: 15px;
	display: block;
}
#main-nav > ul{
	margin-top: 20px;
}
#main-nav li a{
	color: white;
	font-size: 18px;
	padding-left: 5px;
}
.active{
	background: rgba(17,23,30,0.8);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
/* Gallery Menu */
#main-nav .gallery-menu{
	margin: 0px;
}

#main-nav .galleries a{
	font-size: 14px;
}
/***
 * Main Container Styles
 ***/
#main-container {
	margin-left: 230px;
	
	-webkit-transition: margin-left 0.5s;
	-moz-transition:	margin-left 0.5s;
	transition:			margin-left 0.5s;
}
body {
	background: #ecf0f1;
}

html::-webkit-scrollbar{
	width:5px;
	background-color:#ecf0f1;
}
html::-webkit-scrollbar-thumb{
	background-color:#727272;
	border-radius:5px;
	opacity: 0.5;
}
html::-webkit-scrollbar-thumb:hover{
	background-color:#3B3B3B;
	border:1px solid #1C1C1C;
	opacity: 0.8;
}
html::-webkit-scrollbar-thumb:active{
	background-color:#727272;
	border:1px solid #1C1C1C;
	opacity: 0.9;
}

#data-container {
	padding: 20px;
	height: 100%;
}
/***
 * Top Title bar Styles
 ***/
#titlebar {
	background: #2c3e50;
	width: 100%;
	height: 60px;
	padding: 12px;
	margin: 0px;
}
.logout-msg {
	color: white;
	padding-right: 10px;
}
.searchFilters {
	padding: 10px;
}
@media all and (max-width: 990px) and (min-width: 736px) {
	#titlebar {
		height: 100px;
	}

	#titlebar .pull-left {
		padding-left: 15px;
		padding-top: 10px;
	}
	#titlebar .pull-right {
		padding-right: 15px;
		padding-top: 10px;
	}
}

@media all and (max-width: 735px) and (min-width: 300px) {
	#titlebar {
		height: 150px;
	}

	#titlebar .pull-left {
		padding-left: 15px;
		padding-top: 10px;
	}
	#titlebar .pull-right {
		padding-right: 15px;
		padding-top: 10px;
	}
}
 /***
 * Gallery Styles
 ***/
.thumb {
	max-height: 350px;
	max-width: 350px;
	width: auto; height: auto;
	position: relative;
	left: -20%;
	right: -20%;
}
.croped {
	float: left;
	width: 270px; height: 170px; overflow: hidden;
	overflow: hidden;
	border: 2px solid white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(26, 40, 63, 0.5);
	-moz-box-shadow:    0px 0px 10px 0px rgba(26, 40, 63, 0.5);
	box-shadow:         0px 0px 10px 0px rgba(26, 40, 63, 0.5);
	margin: 5px;
}
 /***
 * Footer Styles
 ***/

footer {
	position: absolute;
	background: #2c3e50;
	bottom: 0px;
	width: 100%;
	z-index: -1;
}